/* #region variables */
:root {
  --bg: #07041B;
  --bg2: #110E24;
  --primary: #312ECB;
  --primaryLight: #4644d5;
  --primaryLight2: #4644d5;
  --secondary: #1A237E;
  --secondaryLight: #1e2894;
  --secondaryLight2: #2b39d4;
  --onPrimary: white;
  --dangerB: rgba(255,0,0,0.5);
  --dangerF: #ffaaaa;
  --danger: #FF3B62;
  --successB: #ccffcc; /* used in badge-success */
  --successF: #00aa00; /* used in badge-success */
  --success: #00D26A;
  --warningB: #ffffcc; /* used in badge-warning */
  --warningF: #aaaa00; /* used in badge-warning */
}
/* #endregion */



/* #region main sections */
#sidebar {
    background-color: var(--bg) !important;
    width: 300px;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    border-right: solid 1px rgba(255, 255, 255, 0.3);
}
#sidebar .active {
  background-color: var(--primary) !important;
  border-radius: 50px !important;
}
#main-content {
    background-color: var(--bg) !important;
    margin-left: 300px;
}
footer a.text-white {
  text-decoration: none;
}
footer a.text-white:hover {
  text-decoration: underline;
  color: var(--primary) !important;
}
/* #endregion */



/* #region Fade Out Effect */
.fade-out {
  animation: fadeOut 0.4s ease-in-out;
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}
/* #endregion */



/* #region UI */
h2 {
  font-weight: 700;
}
.tbox {
  background-color: var(--bg) !important;
  border-color: rgba(255, 255, 255, 0.3);
  color: var(--onPrimary) !important;
  border-radius: 20px;
}
.tbox::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.badge-primary {
  background-color: var(--primary);
  color: var(--onPrimary);
  border-radius: 50px;
  display: inline-block;
}
.badge-success {
  background-color: var(--successB);
  color: var(--successF);
  border-radius: 50px;
  display: inline-block;
}
.badge-warning {
  background-color: var(--warningB);
  color: var(--warningF);
  border-radius: 50px;
  display: inline-block;
}
.alert {
  border-radius: 10px;
  color: white !important;
}
.alert-success {
  /* color: var(--success) !important; */
  background-color: rgba(100, 255, 255, 0.2) !important;
  border: solid 3px rgba(100, 255, 255, 0.3) !important;
}
.alert-danger {
  /* color: var(--danger) !important; */
  background-color: rgba(255, 100, 100, 0.2) !important;
  border: solid 3px rgba(255, 100, 100, 0.3) !important;
}
.alert p:nth-child(1) {
  padding: 10px 5px;
  text-align: center;
  border-radius: 50px;
  opacity: .7;
}
.alert-success p:nth-child(1) {
  background: var(--success);
}
.alert-danger p:nth-child(1) {
  background: var(--danger);
}
/* #endregion */



/* #region buttons */
.btn-close {
  filter: invert(1);
}
.btn {
  border-radius: 20px;
}
.btn-primary {
  background-color: var(--primary);
  border-color: var(--primaryLight);
}
.btn-primary:hover {
  background-color: var(--primaryLight);
}
/* #endregion */



/* #region cards */
.card-danger {
  background: linear-gradient(var(--dangerB),var(--dangerB)) !important;
  color: white !important;
}
.card-success {
  background-color: var(--successB) !important;
  border: solid 5px var(--successF) !important;
  color: var(--successF) !important;
}
.card {
  border-radius: 30px;
  overflow: hidden;
}
/* #endregion */



/* #region utility classes */
.round {
  border-radius: 30px !important;
}
.bg-primary {
  background-color: var(--primary) !important;
}
.text-primary {
  color: var(--primary) !important;
}
.text-bg-primary {
  background-color: var(--primary) !important;
  color: var(--onPrimary) !important;
}
.text-bg-dark {
  background-color: var(--bg2) !important;
}
.text-bg-dark-glass {
  background-color: rgba(255, 255, 255, 0.05) !important;
}
.border-primary {
  border: solid 5px var(--primary) !important;
}
.shine {
  position: relative;
  overflow: hidden;
}
.shine::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05), transparent);
  animation: gradientAnimation 2s infinite linear;
}
@keyframes gradientAnimation {
  0%   { left: -100%; }
  50%  { left: 0%; }
  100% { left: 100%; }
}
.shadow {
  box-shadow: 0px 10px 10px rgba(0,0,0,0.5) !important;
}
<<<<<<< HEAD
=======
.hover-zoom {
  transition: .2s;
}
.hover-zoom:hover {
  transform: scale(1.1) !important;
}
>>>>>>> d1ece8a (replace old project with new one)
/* #endregion */



/* #region table */
.table th, .table td {
  background-color: var(--bg) !important;
}
.table tr:nth-child(odd) td {
  background-color: var(--bg2) !important;
}
/* #endregion */



/* #region currency */
.afnnum {
  color: #aaffff !important;
  font-weight: 700;
}
.afnnum::before {
  content: '\060B\00a0';
  direction: ltr;
  unicode-bidi: bidi-override; 
}
.usdnum {
  color: #ffffaa !important;
  font-weight: 700;
}
.usdnum::before {
  content: '$\00a0';
}
.dollarRate {
  color: #aaffaa !important;
  font-weight: 700;
}
/* #endregion */



/* #region Remove the number field arrows and date picker calender */
/* Chrome, Safari, Edge, Opera */
.form-control[type=number]::-webkit-outer-spin-button,
.form-control[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.no-arrows[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
/* Hide calender icon in some browsers */
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  pointer-events: none;
}
/* #endregion */



/* #region custom tab layout */
.nav-tabs {
  border-bottom: none !important;
}

.nav-tabs .nav-link {
  color: #bbb !important;
  background-color: #333 !important;
  border: 1px solid #333 !important;
  border-radius: 10px 10px 0 0 !important;
  margin-right: 5px !important;
  padding: 10px 30px !important;
  transition: .3s !important;
}

.nav-tabs .nav-link.active {
  color: #fff !important;
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}
.nav-tabs .nav-link.active:hover {
  background-color:var(--primaryLight2) !important;
  color: #fff !important;
  border: 1px solid var(--primaryLight2) !important;
}

/* Tabs Content Area */
.tab-content {
  border-radius: 0 0 20px 20px !important;
}
.tab-pane {
  padding: 20px !important;
}
/* #endregion */



/* #region custom checkboxes */
/* Normal */
.btn-check + .btn-primary {
  background-color: #444;
  border: solid 2px #555;
  border-radius: 50px;
  padding: 8px 20px;
  transition: .3s;
  font-size: .8em;
}

/* Selected */
.btn-check:checked + .btn-primary {
  background-color: var(--primary);
  border: solid 2px var(--primaryLight2);
  color: white;
}

/* Hover effect */ 
.btn-check + .btn-primary:hover {
  background-color: #555 !important;
  border: solid 2px #666;
}
.btn-check:checked + .btn-primary:hover {
  background-color: var(--primaryLight) !important;
  border: solid 2px var(--primaryLight2);
}

/* Style for radio buttons */
.btn-check {
  display: none;
}

/* Tick mark */
.btn-check + .btn-primary i {
  padding-right: 5px;
  display: none;
}
.btn-check:checked + .btn-primary i {
  display: inline-block;
}
/* #endregion */