Capital Management:
total_products = SUM(all products)
cash
cash in banks
initial_capital = total_products + cash + cash in banks
total_profit = sales_profit + extra income (Can be simply added through extra income page)
total_loss = expenses + salaries + extra loss (Can be simply added through ectra loss page)
current_capital = initial_capital + total_profit - total_loss





capital_history | id | date | initial_capital | total_profit | total_loss | net_capital | current_capital
currency        | id | rate | date
daily_expenses: | id | description   | amount | date
shop_expenses:  | id | description   | amount | date
salaries        | id | employee_name | salary | month | amount_remaining
salary_advances | id | employee_id   | amount | date


#region total_loss calculation (daily_expenses, shop_expenses)
// get the sum of today's expenses
$todays_total_expenses = 0;
while (daily_expenses.date == CURDATE()) {
    $todays_total_expenses += daily_expenses.amount;
}
// get the sum of shop's expenses
$total_shop_expenses = 0;
while (shop_expenses.date == CURDATE()) {
    $total_shop_expenses += shop_expenses.amount;
}
// now calculate the total loss in dollar
$todays_rate = "SELECT rate FROM currency WHERE date = CURDATE()";
$total_loss = ($todays_total_expenses + $total_shop_expenses) / $todays_rate;
// after calculating the todays expenses and shops expenses in dollar, add it to the total_loss
capital_history.total_loss = $total_loss WHERE date = CURDATE();
#endregion

#region total_profit calculation
// fetch the sales of today:
$total_profit_afn = 0;
while (sales.date == CURDATE()) {
    $total_profit_afn += sales.total_profit;
}
// subtract the salaries from total_sales
$total_salaries = 0;
while (salaries.month == CURDATE()) {
    $total_salaries += salaries.salary;
}
// subtract the salaries from total_profit before converting it to dollar
$total_profit_afn -= $total_salaries;
// after fetching the sales of today, calculate the profit in dollar
$todays_rate = "SELECT rate FROM currency WHERE date = CURDATE()";
$total_profit = $total_sales / $todays_rate;
// after calculating the todays sales in dollar, add it to the total_loss
capital_history.total_profit = $total_profit WHERE date = CURDATE();
#endregion